<div fxLayout='row' fxLayoutGap="7px">
  <div fxFlex="55%">
    <div fxLayout='column'>
      <div fxFlex="10vh">
        <div>
          <button mat-icon-button
                  matTooltip="Create Task"
                  (click)="createTask()"
                  style="float: right;">
              <mat-icon>create</mat-icon>
          </button>
          <!-- <button mat-icon-button 
                  matTooltip="Refresh Tasks"
                  (click)="getTasks()"
                  style="float: right;">
              <mat-icon>refresh</mat-icon>
          </button> -->
          <!-- <button mat-icon-button
                  matTooltip="Search"
                  (click)="getTasks()"
                  style="float: right;">
              <mat-icon>search</mat-icon>
          </button> -->
          <span matBadge="{{(tasks$ | async)?.length}}" matBadgeOverlap="false">
            Tasks
          </span>
        </div>
      </div>
      <div fxFlex="85vh" style="overflow-y: auto;">
        <div *ngFor="let task of tasks$ | async">
          <app-task-item [task]="task" [tags]="tags$ | async" (click)="onSelect(task)"></app-task-item>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="45%">
    <div fxLayout='column'>
      <div fxFlex="95vh" style="overflow-y: auto;">               
        <app-task-detail></app-task-detail>
      </div>
    </div>
  </div>
</div>

