<div>
    <button mat-icon-button
            matTooltip="Create Tag"
            (click)="creatTag()"
            style="float: right;">
        <mat-icon>add</mat-icon>
    </button>
    <span>Tags</span>
    <mat-select [(ngModel)]="select" (selectionChange)="changeSelect()">
        <mat-option *ngFor="let condition of conditions" [value]="condition.value">
        {{condition.viewValue}}
        </mat-option>
    </mat-select>
</div>
<div *ngFor="let tag of tags$ | async" class="tag-list-item">
    <div class="tag-list-item" *ngIf="showTag(tag)">

        <span *ngFor="let p of tag.path">&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <button mat-icon-button class="small" *ngIf="showExpandIcon(tag) == 'expand'" (click)="expandTag(tag)">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-icon-button class="small"  *ngIf="showExpandIcon(tag) == 'collapse'" (click)="collapseTag(tag)">
            <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-icon-button class="small"  disabled *ngIf="showExpandIcon(tag) == 'no'">
            <mat-icon></mat-icon>
        </button>

        <input type="checkbox" (change)="selectTag(tag)" [checked]="this.selectedTags.includes(tag)">
        
        <mat-icon aria-hidden="false" *ngIf="tag.id == 'priority'">priority_high</mat-icon>
        <mat-icon aria-hidden="false" *ngIf="tag.id == 'payment'">payments</mat-icon>
        <span class="tag tag-list-item-name" 
            (click)="editTag(tag)"
            style="background-color:{{ '#' + tag.color }};">
            {{tag.name}}
        </span>
    </div>

</div>
