.box {
	display: inline-block;
	position: relative;
	float: left;
	margin: 5px;
	padding: 2px;
	width: 30px;
    height: 30px;
	text-align: center;
	cursor: pointer;
}

.clear {
	clear: both;			
}

.white-icon {
    color: white;
}

.tag-42a5f5{
	background:#42a5f5;
}

.tag-1565c0{
	background:#1565c0;
}

.tag-303f9f{
	background:#303f9f;
}

.tag-512da8{
	background:#512da8 ;
}

.tag-8bc34a{
	background:#8bc34a;
}

.tag-43a047{
	background:#43a047;
}

.tag-00796b{
	background:#00796b;
}

.tag-ffc107{
	background:#ffc107;
}

.tag-f57f17{
	background:#f57f17;
}

.tag-ec7063{
	background:#ec7063;
}

.tag-e91e63{
	background:#e91e63;
}

.tag-c0392b{
	background:#c0392b;
}

.tag-7b241c{
	background:#7b241c;
}

.tag-707b7c{
	background:#707b7c;
}

.tag-455a64{
	background:#455a64;
}

.tag-000000{
	background:#000000;
}

.tag {
  color:white;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 1px;
  padding-left: 3px;    
}

.mat-icon-button.small {

  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;

  .mat-icon {
    // font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}
